body{
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

.col-sm-4 img{
    width: 96%;
    height: 100%;
}

.projectPart p{
    font-size: large;
  }
  
.projectPart ul li a{
    font-size: large;
}

#headingtext::first-letter{
    font-size: 4rem;
    line-height: 1.5;
    font-weight: bold;
    color: black;
}