body{
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3),rgba(0,0,0,0.3));
}

.projectPart p{
    font-size: large;
  }
  
.projectPart ul li a{
    font-size: large;
}